// Specific CSS for your home-page


.card {
  background-size: cover;
  min-width: 300px;
  height: 400px;
a {
  color: $off-white;
}
.card-body {
  padding: 0.25em;
}
.card-title {
font-family: 'Pacifico';
font-size: 2em;
}
}
