// Import page-specific CSS e.
@import "home";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');

body {
  font-family: 'Open Sans', sans-serif;
  color: $gray;
  font-size: 1em};

h1, h2, h3 {
  font-family: 'Pacifico', cursive;
}

a {text-decoration: none

&hover {
  color: white;
}}
.banner {
  color: #5D7CA4;
  h1 {
    font-size: 6em;
  };
  h2 {
    font-size: 4em;
  }
}

ul {
  list-style: none;
}

li:before {
  content: "🍹";
}

// .doses-form {
//   h3 {
//     color: $gray;
//   }
// }


.full-bg {
  background-image: linear-gradient(
    rgba(241,157,148,0.3),
    rgba(239,242,226,1)),
    asset-url('banner.jpg');
  background-size: cover;
  height: 100vh;}

.cocktail-name {
  font-family: 'Pacifico' !important
}




.hero-image {
  background-size: cover;height: 100vh;
}
