// Import page-specific CSS e.
@import "home";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');

body {
  font-family: 'Open Sans', sans-serif;
  color: $gray;
  font-size: 1.5em};

h1, h2, h3 {
  font-family: 'Pacifico', cursive;
}

a {text-decoration: none

&hover {
  color: white;
}}
.banner {
  color: firebrick;
  h1 {
    font-size: 5em;
  };
  h2 {
    font-size: 3em;
  }
}

ul {
  list-style: none;
}

li:before {
  content: "🍹";
}


.full-bg {
  background-image: linear-gradient(
    rgba(241,157,148,0.3),
    rgba(239,242,226,1)),
    asset-url('banner.jpg');
  background-size: cover;
  height: 100vh;}

.cocktail-name {
  font-family: 'Pacifico' !important
}


.backdrop {
    background-size: contain;
    background-position: center;
    margin: auto;
    margin-top: 0px;
    width: 95%;
}

.backdrop.shibuya {
  position: relative;
  top: 8px;
}


.knockout-text {
    color: $off-white;
    border: 4px white solid;
    mix-blend-mode: multiply;
    font: bolder 4em monospace;
    text-align: center;
    margin: 0;
    cursor: pointer;
    transition: text-indent 0.5s;
}

.knockout-text:hover {
    text-indent: 5px;
    transition: text-indent 0.5s;
}

.knockout-text:hover::before {
    display: inline-block;
    content: "🍸";
}

.knockout-text.shibuya {
    background-color: rgba(2, 22, 48, 1);
    outline: 4px rgba(2, 22, 48, 1) solid;
    font-size: 4em;
}

.hero-image {
  background-size: cover;height: 100vh;
}
